.list-group-item {
	background-color: lightgray !important;
	border: none !important;
	color: black !important;
	font-style: oblique !important;
	font-size: 16px !important;
}

#message {
	color: black;
}

.useful-links li {
	margin: 10px 10px 10px;
}

.thumbnail {
	background-color: lightgray !important;
	color: black !important;
}

#about .thumbnail {
    padding: 20px !important;
}

.thumbnail img {
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	margin: 0 auto;
	padding: 20px;
}

.thumbnail img:hover {
  transform: scale3d(1.1, 1.1, 1);
  opacity: 0.5;
}

.panel-default > .panel-heading {
    background-color: lightblue !important;
}

.panel-heading {
	font-weight: bold !important;
	font-size: 18px !important;
}